<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.rewardflow.infra.mysql.mapper.RewardFlowMapper">

  <select id="selectAwardedStages" resultType="int">
    SELECT prize_stage
    FROM reward_flow
    WHERE user_id = #{userId}
      AND biz_scene = #{bizScene}
      AND prize_date = #{prizeDate}
      AND prize_code = #{prizeCode}
  </select>

  <insert id="insert" useGeneratedKeys="true" keyProperty="id">
    INSERT INTO reward_flow
      (user_id, biz_scene, prize_code, prize_date, prize_stage, prize_amount, out_biz_no, rule_version, trace_id)
    VALUES
      (#{userId}, #{bizScene}, #{prizeCode}, #{prizeDate}, #{prizeStage}, #{prizeAmount}, #{outBizNo}, #{ruleVersion}, #{traceId})
  </insert>

</mapper>
